<div class="container-fluid">
 <header>
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
  <div class="container-fluid">
  <a class="navbar-brand justify-content-between" href="/">TEA EXPLORER 🍵</a>
  <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-danger" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas">Teas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas/create">Add new tea</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="get">
        <div class="input-group">
          <input class="form-control mr-sm-2" name="name" type="text"  placeholder="Search for Tea" aria-label="Search">
          <button class="btn btn-default btn-secondary text-white my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
 </div>
</nav>
</header>   
<div style="height: 80px;"></div>

  {{#each teas}}
    
      <div class="card mx-auto mb-2" style="width: 30%">
        <img src="{{image}}" class="card-img-top" style=" height: 25vh; object-fit:cover;" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{origin}}</p>
         <button class="btn btn-success"> <a class="text-decoration-none text-capitalize text-white" href="/teas/{{_id}}"> Details</a></button>
          
        </div>
      </div>
    </div>
  {{/each}}
  {{#if errorMessage}}
  <h2> {{errorMessage}} </h2>
  <a href="/teas/create"><button type="submit" class="btn btn-success btn-block">Create a New Tea 🍵</button></a>
  {{/if}}

  </div>