
<div class="tea-list">
<p>Hello: {{user.username}}</p>
 <hr>
<div class="cotainer-fluid" style="margin: 0 15px;">
 <a href="/teas/create"><button class="btn btn-secondary">Create New Tea</button></a>
<hr>
<div class="row">
  {{#each teas}}
    <div class="col-3 mb-4">
      <div class="card h-100">
        <img src="{{image}}" class="card-img-top" style=" height: 25vh; object-fit:cover;" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{origin}}</p>
         <button class="btn btn-success"> <a class="text-decoration-none text-capitalize text-white" href="/teas/{{_id}}"> Details</a></button>
          
        </div>
      </div>
    </div>
  {{/each}}
  
  <hr />
</div>
</div>