<header>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
  <a class="navbar-brand justify-content-between" href="/">TEA EXPLORER 🍵</a>
  <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-danger" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas">Teas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas/create">Add new tea</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="get">
        <div class="input-group">
          <input class="form-control mr-sm-2" name="name" type="text"  placeholder="Search for Tea" aria-label="Search">
          <button class="btn btn-default btn-secondary text-white my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
 </div>
</nav>
</header>
<div class="tea-details-top"></div>

<div class="card mx-auto" style="max-width: 600px; margin-top: 20px;">
 <img src="{{teas.image}}" class="card-img-top" style="height: 40vh; object-fit:cover;" alt="{{teas.name}}">

<div class="card-body">
<h2 class="card-title text-center">{{teas.name}}</h2>
<p class="card-text"><span class="h5 font-weight-bold">Type:</span> {{teas.type}}</p>
<p class="card-text"><span class="h5 font-weight-bold">Origin:</span> {{teas.origin}}</p>
<p class="card-text"><span class="h5 font-weight-bold">Caffeine:</span> {{teas.caffeine}}<p>
<p class="card-text"><span class="h5 font-weight-bold">Description:</span> {{teas.description}}</p>
<p class="card-text"><span class="h5 font-weight-bold">Taste-Description:</span> {{teas.tasteDescription}}</p>
</div>
<div class="btn-group mx-2"> 
<form action="/teas/favorite/{{teas._id}}" method="post">
    <button type="submit" class="btn btn-success btn-details">Add to favorites</button>
</form>
<a href="/teas/{{teas._id}}/edit"><button class="btn btn-success mx-4">Edit</button></a>
            
</div>
<form action="/review/create/{{teas._id}}" method="post">
  
    <label for="content"></label>
    <textarea name="content" id="content" cols="30" rows="5" class="comment" placeholder="Leave your comment here"></textarea>
    <br>
    <button type="submit" class="btn btn-sm btn-secondary  btn-comment-send">Send</button>
</form>
 
<div>
 {{#each teasReviews}}
    <div class="review">
        <!-- Actually displaying the review -->
      <div class="form-comment">
        <div class="review-meta">
        <p><span class="form-comment"><i>By {{author.username}}</span>: {{content}}<i></p>
        <!-- Deleting the Review -->
        {{#ifCond author.username ../user.username}}
        <form action="/review/delete/{{../teas._id}}/{{_id}}"  method="post">
            <button class="btn btn-secondary btn-sm btn-comment" type="submit">Delete</button>
        </form>
        {{/ifCond}}
        </div>
       </div>
      </div>
    {{/each}}
    
</div> 



</div>