<h2>Tea: {{teas.name}}</h2>

<div>
    <img src="{{teas.image}}"  width="600px" height="600px" alt="{{teas.name}}">
</div>

<p>Type: {{teas.type}}</p>
<p>Origin : {{teas.origin}}</p>
<p>Caffeine: {{teas.caffeine}}</p>
<p>Description: {{teas.description}}</p>
<p>Taste-Description: {{teas.tasteDescription}}</p>

<form action="/review/create/{{teas._id}}" method="post">
  
    <label for="content">Content</label>
    <textarea name="content" id="content" cols="30" rows="5"></textarea>
    <button type="submit">Create the review</button>
</form>
<!-- End of the Form to Create a Review -->
<br>
<!-- Display all the Reviews of the Book that we're seeing -->
    {{#each teas.review}}
    <div>
        <!-- Actually displaying the review -->
        <p><span>By {{user.username}}</span>: {{content}}</p>
        <!-- Deleting the Review -->
        <form action="/review/delete/{{_id}}" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
    <a href="/teas">Return</a>
