<header>
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
  <div class="container-fluid">
  <a class="navbar-brand justify-content-between" href="/">TEA EXPLORER 🍵</a>
  <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-danger" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas">Teas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas/create">Add new tea</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="get">
        <div class="input-group">
          <input class="form-control mr-sm-2" name="name" type="text"  placeholder="Search" aria-label="Search">
          <button class="btn btn-default btn-secondary text-white my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
 </div>
</nav>
</header>

<div style="height: 85px;"></div>
<div class="container-fluid">
<h2 class="text-center text-secondary">{{username}}'s favorite teas</h2>

<!--
{{#each favorites}}
<h3>{{name}}</h3>
<div>
    <img src="{{image}}"  width="600px" height="600px" alt="{{name}}">
</div>

<p>Type: {{type}}</p>
<p>Origin : {{origin}}</p>
<p>Caffeine: {{caffeine}}</p>
<p>Description: {{description}}</p>
<p>Taste-Description: {{tasteDescription}}</p>

 <form action="/favorites/delete/{{_id}}" method="post">
            <button type="submit">Delete</button>
        </form>
    

{{/each}}
 --> 
  <div class="row">
  {{#each favorites}}
    <div class="col-md-3 col-sm-6 col-12 mb-4 mt-4">
      <div class="card h-100" style="position: relative;">
        <img src="{{image}}" class="card-img-top" style="height: 30vh; object-fit: cover;" alt="{{name}}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{origin}}</p>
          <p class="card-text">Type: {{type}}</p>
          <p class="card-text">Caffeine: {{caffeine}}</p>
          <p class="card-text">Description: {{description}}</p>
          <p class="card-text">Taste-Description: {{tasteDescription}}</p>
          <div class="mt-auto text-right">
            <form action="/favorites/delete/{{_id}}" method="post">
              <button type="submit" class="btn btn-success">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

  
</div>