

<p>Hello: {{user.username}}</p>

<hr>
<div class="row">
  {{#each teas}}
    <div class="col-3 mb-4">
      <div class="card h-100">
        <img src="{{image}}" class="card-img-top" style=" height: 25vh; object-fit:cover;" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{origin}}</p>
          <a href="/teas/{{_id}}">See Details</a>
          
        </div>
      </div>
    </div>
  {{/each}}
  
  <hr />
</div>
   